@media only screen and (max-width: 991px) {
    .nav-right-section{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }.nav-right-section .nav-item{
        padding-top: .5rem;
        padding-bottom: .5rem;
    }#navbarNav{
        padding-top: 2rem;
    }
    .navbar{
        z-index: 1;
    }
}