{% load translation_filter %}

<div class="container hero-section-wrapper py-5">
    <div class="hero-section">
        <div class="d-flex flex-column align-items-center pt-sm-5 py-5 my-5">
            <div style="max-width: 750px;" class="w-100">
                <h1 class="text-center bold headline w-100">
                    {{ "Secure AI-powered Knowledge Base Discovery for Corporates"|translate:selectedLanguage }}
                    <img src="https://notion-emojis.s3-us-west-2.amazonaws.com/prod/svg-twitter/1f680.svg" style="max-height: 55px;" alt="">
                </h1>
                <h5 class="text-center m-auto text-secondary p-3" style="font-weight: 400;">
                    {{ "Securely Analyze, Compare, and Summarize Documents with AI in a Private Cloud Environment"|translate:selectedLanguage }}
                </h5>
                <div class="text-center py-3">
                    <a href="/register" id="create-account-button" class="btn btn-primary-gradient rounded px-4 py-3 fw-500">
                        <span class="h5">{{ "Start Today For Free"|translate:selectedLanguage }}</span>
                    </a>
                    <p class="small text-ceter text-muted pt-2">No credit card required.</p>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-center align-items-center h-100 pt-5">
                    <img src="/static/main/img/app-demo-img.webp" class="w-75 img-fluid rounded" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
