{% extends 'layouts/base.html' %}
{% load static %}
{% load translation_filter %}

{% block content %}

<div class="container py-5">

    <h1 class="bold mb-5">{{ "About Us"|translate:selectedLanguage }}</h1>

    <h4>{{ "Welcome to advaise"|translate:selectedLanguage }}</h4>
    <p class="text-secondary">{{ "At advAIse, we support you in the implementation of Artificial Intelligence in business processes by providing tailor-made solutions adapted to your sector. Our journey began with a vision to empower organizations with cutting-edge AI solutions that drive efficiency, innovation and growth. Our goal with the advAIse platform is to provide a cutting-edge AI platform that unlocks the potential of data and transforms the way businesses manage information."|translate:selectedLanguage }}</p>

    <h4 class="pt-3">{{ "Our vision"|translate:selectedLanguage }}</h4>

    <p class="text-secondary">{{ "Going forward, our vision is to continue to push the boundaries of AI innovation, enabling businesses to thrive in an increasingly digital world. We are committed to being at the forefront of AI technology, driving positive change and shaping the future of industries around the world."|translate:selectedLanguage }}</p>

</div>

{% endblock %}