{% extends 'layouts/base.html' %}
{% load static %}
{% load translation_filter %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/home.css' %}?rnd=2">

{% if request.user.is_authenticated %}

<div class="container py-5">
    <h2 class="d-flex justify-content-center align-items-center">
        {{ "Hello,"|translate:selectedLanguage }} {{ request.user.first_name }}!
        <img src="/static/main/img/animations/hand_wave.gif" style="max-height: 75px;" alt="">
    </h2>
    <h5 class="py-3 m-auto d-block text-center" style="font-weight: 400; max-width: 600px;">
        {{ "Welcome to ADVAISE. If your access has been approved by our teams, you can start the wizard by clicking on the button below."|translate:selectedLanguage }}
    </h5>

    <div class="text-center pt-5">
        <a href="https://app.advaise.net/" class="btn btn-primary-gradient text-white"><i class="fa-solid fa-rocket pe-1 text-white"></i> 
            <span>
                {{ "Launch Assistant"|translate:selectedLanguage }}
            </span>    
        </a>
    </div>
</div>

{% else %}

{% include 'components/hero-section.html' %}

{% endif %}

<div id="section-b" class="bg-lighter bg-gradient d-flex flex-column justify-content-center align-items-center position-relative py-5">
    <div class="row pt-sm-5 d-flex justify-content-center m-0 py-5">
        <h2 class="bold text-center">
            {{ "Empower Your Business with Advanced AI-driven Solutions."|translate:selectedLanguage }}
        </h2>
        <span class="py-3 text-center" style="max-width: 950px;">
            {{ "Quickly and efficiently explore your documents with our intuitive AI solution. Get accurate, instant answers to your most complex questions, and unlock the hidden potential of your data"|translate:selectedLanguage }}
        </span>

    </div>

    <div class="d-flex justify-content-center py-5">
        <div class="d-flex flex-column w-fit px-4">
            <span class="w-fit fw-500"><img src="/static/main/img/check-icon.png" loading="lazy" class="check-mark-icon" alt="" srcset=""> {{ "Reliable and secure platform"|translate:selectedLanguage }}</span>
            <span class="w-fit fw-500"><img src="/static/main/img/check-icon.png" loading="lazy" class="check-mark-icon" alt="" srcset=""> {{ "Relevant and Sourced Responses"|translate:selectedLanguage }}</span></span>
            <span class="w-fit fw-500"><img src="/static/main/img/check-icon.png" loading="lazy" class="check-mark-icon" alt="" srcset=""> {{ "Security, privacy and regulatory compliance"|translate:selectedLanguage }}</span></span>
        </div>
    </div>
</div>


<div class="container pb-5" style="max-width: 1600px !important;">

    <div class="row py-5">
        <div class="col-md-6">
            <div class="px-3 pb-4 py-5 m-auto d-block" id="featuresSection" style="max-width: 650px;">
                <h2 class="mt-3 bold">
                    {{ "Features"|translate:selectedLanguage }}
                    <img src="/static/main/img/illustrations/features.png" class="h-100" style="max-height: 55px;" alt="">
                </h2>
        
                <div class="pt-3">
                    <h5>{{ "Hybrid Knowledge Base"|translate:selectedLanguage }}</h5>
                    <span>
                        {{ "Quickly and efficiently explore your documents and get accurate and sourced answers to your most complex questions."|translate:selectedLanguage }}
                    </span>
                </div>
                <div class="pt-5">
                    <h5>{{ "Document-Enabled Interface"|translate:selectedLanguage }}</h5>
                    <span>
                        {{ "Combine your company's private databases with publicly available document databases (Legifrance, EUR-Lex, ECB, EBA, ACPR, and more)."|translate:selectedLanguage }}
                    </span>
                </div>
                <div class="pt-5">
                    <h5>{{ "Streamline your workflow in a click"|translate:selectedLanguage }}</h5>
                    <span>
                        {{ "Share your creations via email with just one click, generate PowerPoint presentations and Word reports, and provide a collaborative space for teamwork (Coming soon)."|translate:selectedLanguage }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="px-3 pb-4 py-5 m-auto d-block" id="privacySection" style="max-width: 650px;">
                <h2 class="mt-3 bold">
                    {{ "Security and privacy"|translate:selectedLanguage }}
                    <img src="/static/main/img/illustrations/security.jpg" class="h-100" style="max-height: 55px;" alt="">
                </h2>
        
                <div class="pt-3">
                    <h5>{{ "Secure and dedicated platform"|translate:selectedLanguage }}</h5>
                    <span>
                        {{ "The application and data are stored on company servers or with reliable Cloud Service Provider (CSP)"|translate:selectedLanguage }}
                    </span>
                </div>
        
                <div class="pt-5">
                    <h5>{{ "Keep full control of your data"|translate:selectedLanguage }}</h5>
                    <span>
                        {{ "Benefit from a secure, non-shared database with the LLM providers. Execution takes place locally on secure dedicated servers."|translate:selectedLanguage }}
                    </span>
                </div>
        
                <div class="pt-5">
                    <h5>{{ "Regulatory compliance"|translate:selectedLanguage }}</h5>
                    <span>{{ "The solution adheres to regulatory standards, including the AI Act and GDPR."|translate:selectedLanguage }}</span>
                </div>
            </div>
        </div>
        
    </div>

</div>

<div class="py-5 bg-gray">

    <div class="container m-auto d-block" style="max-width: 1600px !important;">
        <div class="rounded-lg bg-white p-5 w-100">
            <div class="row">
                <div class="col-md-8">
                    <div class="w-100" style="max-width: 800px;">
                        <h3 class="text-secondary">
                            Subscribe to our Newsletter to stay informed of the latest news, insights and updates from ADVAISE. Join our community to receive exclusive content and special offers right in your inbox.
                        </h3>
            
                        <p class="text-secondary pt-5 fw-500">Benefits of the Subscription: </p>

                        <ul id="newsletter-benefits-list" style="list-style-type: disc; color: var(--color-primary) !important;">
                            <li class="text-secondary pb-2">Be the first to know about product launches and updates.</li>
                            <li class="text-secondary pb-2">Receive exclusive offers and promotions.</li>
                            <li class="text-secondary pb-2">Stay connected with the IA Access community.</li>
                            <li class="text-secondary pb-2">Subscribe now to unlock the power of AI with ADVAISE !</li>
                        </ul>
            
                        
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <img src="/static/main/img/newsletter-section-img.png" alt="" class="img-fluid w-100 px-4 m-auto d-block" style="max-width: 300px;">
                    <form action="" class="pt-3">
                        <input type="text" class="form-control my-2 w-100 py-2" placeholder="Your Name">
                        <input type="text" class="form-control my-2 w-100 py-2" placeholder="Email Address">
                        <button class="btn btn-dark rounded-lg w-100 py-2">Sign up</button>
                    </form>
                </div>
            </div>
            

        </div>
    </div>

</div>


<div class="container py-5" style="max-width: 1600px !important;" id="tutorial">

    <h2 class="bold">Tutorial - How to use advAIse to explore your documents?</h2>

    <p class="text-secondary pt-3">
        Welcome to this tutorial on advAIse, the artificial intelligence platform that allows you to explore your documents in an efficient and intuitive way. Follow these simple steps to get started:
    </p>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <h5 class="pt-3">Step 1: Document Selection</h5>
            <p class="text-secondary small">Start by selecting the documents you want to explore. You can choose from a variety of document types, such as contracts, financial reports, regulations, and much more.</p>
        
            <h5 class="pt-3">Step 2: Ask your questions</h5>
            <p class="text-secondary small">Once you have selected your documents, ask your questions in the search bar. You can ask them in the language of your choice.</p>
        
            <h5 class="pt-3">Step 3: Get instant answers</h5>
            <p class="text-secondary small">AdvAIse will quickly generate answers to your questions, based on the content of your documents. You will get accurate and sourced answers in just seconds.</p>
        
            <h5 class="pt-3">Step 4: Explore the results</h5>
            <p class="text-secondary small">Browse the results to find the information you need. Each response is accompanied by context from the selected documents, with links to relevant sources.</p>
        
            <h5 class="pt-3">Step 5: Deepen your understanding</h5>
            <p class="text-secondary small">If you want to learn more about a particular topic, you can click on the links to access the source documents and explore the content further.</p>
        
            <p class="py-4 text-secondary small">With advAIse, exploring your documents becomes a breeze. Try it out today and find out how this revolutionary platform can help you get the most out of your data.</p>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <iframe src="https://www.youtube.com/embed/t3-b3SFFAZs?si=rlTkKKo4rpV67HCq" 
                title="YouTube video player" frameborder="0" loading="lazy"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen 
                style="width: 100%; height: 450px;">
            </iframe>
        </div>
        
    </div>

</div>

{% if not request.user.is_authenticated %}

<div class="bg-primary bg-gradient py-5 mt-3">
    <div class="row m-0 py-5">
        <div class="col-md-6 d-flex flex justify-content-center align-items-center">
            <div style="max-width: 550px;" class="w-100">

                <h1 class="mb-0 py-4 text-white">
                    {{ "Ready to start using our AI virtual advisor?"|translate:selectedLanguage }}
                </h1>

                <div class="py-3">
                    <span class="text-center text-white">
                        {{ "Create an account and get started using Advaise, with full access to our Advanced AI-driven Solutions."|translate:selectedLanguage }}
                    </span>
                </div>

                <div class="py-4">
                    <a href="/register" class="btn btn-dark text-white rounded fw-500 py-3 px-4">
                        <span class="h5">
                            {{ "Start Today For Free"|translate:selectedLanguage }}
                        </span>
                    </a>
                </div>
                
            </div>
        </div>
        <div class="col-md-6">
            <img src="/static/main/img/app-demo-img.webp" class="w-100 img-fluid" alt="">
        </div>
    </div>
    
</div>

{% endif %}


{% endblock %}