{% extends 'layouts/auth-base.html' %}
{% load translation_filter %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        
    <div class="card border-0 shadow bg-white rounded-lg d-flex py-5 px-3 flex-row align-items-center justify-content-center pt-5" style="max-width: 800px;width: 100%">
        <form action="#" method="POST" class="w-100 py-5" style="max-width: 550px;">{% csrf_token %}

            <img src="/static/main/img/logo.svg" class="m-auto d-block" style="max-height: 125px;" alt="">

            <h2 class="mt-5 text-center"><b>{{ "Welcome back"|translate:selectedLanguage }}</b></h2>
            <span class="text-muted small d-block text-center m-auto">{{ "Sign in to your account"|translate:selectedLanguage }}</span>
        
            <div class="py-2 mt-4">
                <input class="form-control rounded-lg py-2" name="email" type="text" placeholder="{{ 'Work Email'|translate:selectedLanguage }}">
            </div>
            <div class="py-2">
                <input class="form-control rounded-lg py-2" name="password" type="password" placeholder="{{ 'Password'|translate:selectedLanguage }}">
            </div>

            {% for field in login_form %}
            <p>
                {% for error in field.errors %}
            <p class="text-danger">
                {{ error }}
            </p>
            {% endfor %}
            </p>
            {% endfor %}

            {% if login_form.non_field_errors %}
            <div class="text-danger">
                <p>{{login_form.non_field_errors}}</p>
            </div>
            {% endif %}


            <div class="py-2">
                <button class="btn btn-primary-gradient rounded-lg fw-500 w-100"
                    style="padding-top: .65rem;padding-bottom: .65rem;" type="submit">
                    <span>{{ "Login"|translate:selectedLanguage }}</span>
                </button>
            </div>

            <span class="small m-auto text-center d-block pt-3">{{ "Don't have an account?"|translate:selectedLanguage }} <a href="/register"
                    class="fw-500 text-dark">{{ "Start Today"|translate:selectedLanguage }}</a></span>

        </form>
    </div>

</div>
{% endblock %}