{% extends 'layouts/base.html' %}
{% load static %}
{% load translation_filter %}

{% block content %}

<div class="container py-5">


    <h1 class="bold mb-5">User Agreement</h1>

    <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus,
        quisquam voluptatum
        exercitationem obcaecati perferendis provident eius fugiat iste qui odio beatae quis ullam! Aperiam officia
        voluptatibus vitae repellat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus,
        quisquam voluptatum
        exercitationem obcaecati perferendis provident eius fugiat iste qui odio beatae quis ullam! Aperiam officia
        voluptatibus vitae repellat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus,
        quisquam voluptatum
        exercitationem obcaecati perferendis provident eius fugiat iste qui odio beatae quis ullam! Aperiam officia
        voluptatibus vitae repellat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus,
        quisquam voluptatum
        exercitationem obcaecati perferendis provident eius fugiat iste qui odio beatae quis ullam! Aperiam officia
        voluptatibus vitae repellat.</p>

    <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus,
        quisquam voluptatum
        exercitationem obcaecati perferendis provident eius fugiat iste qui odio beatae quis ullam! Aperiam officia
        voluptatibus vitae repellat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus,
        quisquam voluptatum
        exercitationem obcaecati perferendis provident eius fugiat iste qui odio beatae quis ullam! Aperiam officia
        voluptatibus vitae repellat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus,
        quisquam voluptatum
        exercitationem obcaecati perferendis provident eius fugiat iste qui odio beatae quis ullam! Aperiam officia
        voluptatibus vitae repellat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus,
        quisquam voluptatum
        exercitationem obcaecati perferendis provident eius fugiat iste qui odio beatae quis ullam! Aperiam officia
        voluptatibus vitae repellat.</p>

    <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus,
        quisquam voluptatum
        exercitationem obcaecati perferendis provident eius fugiat iste qui odio beatae quis ullam! Aperiam officia
        voluptatibus vitae repellat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus,
        quisquam voluptatum
        exercitationem obcaecati perferendis provident eius fugiat iste qui odio beatae quis ullam! Aperiam officia
        voluptatibus vitae repellat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus,
        quisquam voluptatum
        exercitationem obcaecati perferendis provident eius fugiat iste qui odio beatae quis ullam! Aperiam officia
        voluptatibus vitae repellat.Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro accusamus,
        quisquam voluptatum
        exercitationem obcaecati perferendis provident eius fugiat iste qui odio beatae quis ullam! Aperiam officia
        voluptatibus vitae repellat.</p>


</div>

{% endblock %}